<div class="card border=primary mt-3">
  <div class="card-body">
    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
              <%= b.check_box class: "custom-control-input" %>
              <%= b.label class: "custom-control-label" %>
            </div>
          </li>
        </ul>

      <% end %>

      <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
      <p><%= form.submit t('.next'), class: "progress_button btn btn-primary btn-block mt-3" %></p>
    <% end %>
  </div>
</div>
