<%= form_with model: [:admin, @test], local: true do |form| %>
  <div class="form_froup">
    <%= render 'shared/errors', resource: @test %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, class: 'form-control', placeholder: 'Enter title' %>
    </p>

    <p>
      <%= form.label :level %><br>
      <%= form.number_field :level, in: 0..Float::INFINITY, class: 'form-control' %>
    </p>

    <p>
      <%= form.label :category_id %><br>
      <%= form.collection_select :category_id, Category.all, :id, :title, { prompt: true },
                                               { class: "form-control" } %>
    </p>

    <p>
      <%= form.submit options = { class: "btn btn-primary mt-1" } %>
    </p>
  </div>
<% end %>
