<div class="row">
  <div class="col col-md">
    <h1><%= t('.header') %></h1>

    <table class="table table-striped text-center mt-5">
      <tr>
        <th scope="col" class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'chevron-up', class: 'text-success hide' %>
          <%= octicon 'chevron-down', class: 'text-success hide' %>
        </th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.actions') %></th>
      </tr>

      <%= render @tests %>
    </table>
  </div>
</div>



